

body {
      background-color: #E1D8B2;
      
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

 nav{
      padding: 1rem 5%;
      background-color: #1F1F1F;
      border-radius:25px ;
      margin-bottom: 2rem;
      align-items: center;
      display: flex;
      justify-content: space-between;
      Top: 0px;
      right: 100px;
      
      }

.Navi{
  list-style: none;
  display: flex;
  gap: 2rem;
}

button{
  border-radius: 25px;
  background-color: #E1D8B2;
  
}

button:hover{
   text-shadow:10px -10px 10px white;


}
a{
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color:white;
  transition: 0.2s;
}

  img{
    height: 65px;
    width: 95px;
  }



a:hover{
  color: #E1D8B2;
  text-shadow:10px -10px 10px white ;
}


 #Content{
      Border: 1px solid;
      border-radius: 20px;
      width: 85%;
      margin-top: 2rem;
      margin-left: auto;
      background-color: #1F1F1F;
      padding: 25px;
      margin-bottom: 2rem;
 }


 /*Footer editor*/
    footer{
      background-color: #1F1F1F;
      display: flex;
      flex-wrap: row wrap;
      padding:50px;
    }

    .Footer >*{
      flex:1 100%
    }

    #Left{
      margin-right: -12em;

    }

    .Footer-bottom img{
      width:15%
    }

    h3{
      Font-size:17px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing:3px;
    }

    .Footer ul{
      list-style:none;
      padding-left:0;
    }
    .Footer li{
      line-height:2em;
    }

    .Right{
      
      flex-flow: row wrap;
    }

    .Right > *{
      flex:1 50%;
      margin-right: 1.20em;
    }
    
    .Footer-bottom{
      text-align:center;
      padding-top:50px;
    }

 @media screen and (min-width:600px){
  .Right >*{
    flex: 1;
  }
  #Left{
    flex:1 0px;
  }
  .Right{
    flex:2 0px;
  }
 }

 @media  screen and (max-width:600px) {
  .Footer{
    padding:15px
  }
 }
a:hover{cursor:grab;}
  /*Ends Here*/  

  #pic{width:300px;height: 200px;}

